
.jumbotron {
    color: #f5f3f3;
    background-color:rgba(180, 150, 190, 1) !important;
    }
.well {
    color:#0c0c0c;
    background-color:rgba(180, 150, 190, 1) !important;
}
.panel{
    color: #0c0c0c;
    background-color:rgba(180, 150, 190, 1) !important;
}

body {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url(images/bacteria.jpg);
    background-size: 10% 10%;
    background-attachment: fixed;
}